.root {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #2e2e2e, #101014);
}

#version_release_date {
    -fx-font-size: 15px;
}

#version_preview_parent_pane {
    -fx-effect: dropshadow(gaussian, #626264, 25, 0, 0, 0);
    -fx-border-color: #626264;
    -fx-border-width: 3;
    -fx-border-radius: 25;
    -fx-padding: 10;
}
